.App {
  text-align: center;

}

.main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 200px;
  height: 320px;
  border-radius: 10px;
}
.collection > img {
  height: 500px;
}
